<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <style>
      .errormessage{
        color: red;
      }

      .successmessage{
        color: green;
      }
    </style>
  </head>
  <body>
    <form action='/contactmailer' method='post'>
      First name:<br>
      <input type="text" name="firstname" value=""><br>
      Last name:<br>
      <input type="text" name="lastname" value=""><br>
      Email:<br>
      <input type="text" name="email" value=""><br>
      Message:<br>
      <input type="text" name="message" value=""><br><br>
      <input type="submit" value="Submit">
    </form>
    <% if(message) { %>
    <p class='successmessage'><%= message %></p>
    <% } %>
    <% if(error) { %>
    <p class='errormessage'><%= error %></p>
    <% } %>
  </body>
</html>
